*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eeeeee;
}
h1{
    text-align: center;
    font-size: 3rem;
}
header{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    align-items: center;
}
input{
    height: 120px;
    width: 80%;
    font-size: 2rem;
    padding-left: 10%;
}
.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: #fff;
    font-weight: bold;
    border: none;
    height: 120px;
    border-radius: 0 10px 10px 0;
}